* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #05020A;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-img {
    width: 48px;
    height: 48px;
    display: block;
    fill: #701BE0;
}

.logo h1 {
    font-family: 'Russo One';
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    color: rgb(255, 255, 255, 0.9);
}

.content-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.image-box {
    /* width: 550px;
    height: 416px; */
    width: 655px;
    height: 550px;
    background-color: #221B2A;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 
        0 0 10px rgba(153, 153, 153, 0.25),
        0 0 10px rgba(180, 180, 180, 0.25);
    filter: blur(10);
}

.text-box {
    /* width: 550px;
    height: 416px; */
    width: 450px;
    height: 550px;
    background-color: #221B2A;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 
        0 0 10px rgba(153, 153, 153, 0.25),
        0 0 10px rgba(180, 180, 180, 0.25);
    filter: blur(10);
}

.image-box:hover,
.text-box:hover {
    background-color: #2a2436;
}

.upload-placeholder {
    text-align: center;
    color: #aaaaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.placeholder-img {
    /* width: 97px;
    height: 77px; */
    width: 120px;
    height: 100px;
    display: block;
    margin-bottom: 1px;
}

.upload-text {
    font-size: 18px;
    text-align: center;
    max-width: 80%;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter';
}

.upload-placeholder p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    max-width: 80%;
}

#imageUpload {
    display: none;
}

#textInput {
    width: 100%;
    height: 100%;
    background-color: transparent; 
    border: none; 
    outline: none;
    border-radius: 20px;
    padding: 12px;
    color: #ffffff;
    resize: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
} 

#textInput:focus {
    box-shadow: 
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 0 1px rgb(156, 77, 255, 0.4);
}

#uploadTextBtn {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #2d2738;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter';
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    height: 46px;
    transition: background-color 0.3s ease;
    box-shadow: 
        0 0 7px rgba(153, 153, 153, 0.25);
    filter: blur(10);
        
}

#uploadTextBtn:hover {
    background-color: rgb(24, 19, 34);
    box-shadow: 
        0 0 7px rgba(255, 255, 255, 0.4),
        0 0 0 1px rgb(156, 77, 255, 0.4);
}

.action-buttons {
    display: flex;
    justify-content: center;
    /* gap: 15px; */
    gap: 30px;
    /* margin-top: 40px; */
    margin-top: 60px;
}

.action-buttons button {
    /* padding: 10px 35px; */
    padding: 15px 55px;
    background-color: #2d2738;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter';
    border: none;
    border-radius: 20px;
    cursor: pointer;
    /* font-size: 16px; */
    font-size: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 
        0 0 10px rgba(153, 153, 153, 0.25);
    filter: blur(10);
}


.action-buttons button:hover {
    background-color: rgb(5, 2, 10, 0.8); /* оставляем фон */
    box-shadow: 
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 0 1px rgb(156, 77, 255, 0.4);
}

/* .action-buttons button:hover {
    background-color: #3a334b;
    
} 
*/

.action-buttons button:active {
    transform: scale(0.98);
}

/* Адаптивность */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .image-box, .text-box {
        width: 100%;
        height: auto;
        min-height: 300px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }
}