<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo-img">
                <h1>Image Steganography</h1>
            </div>
        </header>

        <main>
            <div class="content-wrapper">
                <div class="image-box" id="imageBox">
                    <div class="upload-placeholder" id="uploadPlaceholder">
                        <img src="{{ url_for('static', filename='images/placeholder.svg') }}" alt="Upload Image" class="placeholder-img">
                        <p class="upload-text">Загрузите своё изображение</p>
                    </div>
                    <input type="file" id="imageUpload" accept="image/png, image/jpeg, image/jpg, image/bmp, image/webp">
                    <img id="previewImage" src="" alt="Preview">
                </div>

                <div class="text-box">
                    <textarea id="textInput" placeholder="Начните писать текст тут или загрузите файл по кнопке ниже"></textarea>
                    <button id="uploadTextBtn">Загрузить TXT</button>
                </div>
            </div>

            <div class="action-buttons">
                <button id="clearBtn">Clear</button>
                <button id="readBtn">Read</button>
                <button id="writeBtn">Write</button>
                <button id="downloadStegoBtn" style="display: none;" class="action-button">Скачать изображение</button>
            </div>
            <!-- <button id="downloadStegoBtn" style="display: none" class="action-button">Скачать изображение</button> -->
        </main>
    </div>

    <!-- Скрипт для интерактивности (пока заглушка) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>